@-webkit-keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.profile__spinner {
  width: 1rem;
  height: 1rem;
  border: 0.4rem solid #f3f3f3;
  border-top: 0.4rem solid black;
  border-radius: 50%;
  -webkit-animation: spinner 1.5s linear infinite;
          animation: spinner 1.5s linear infinite;
  align-self: center;
  margin-top: 3rem;
  position: absolute;
  top: 1.6rem;
}

.profile__error {
  font-family: "Oswald", sans-serif;
  color: rgb(109, 14, 14);
  position: relative;
  top: -1rem;
  margin-top: 0rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
.profile .fa-solid {
  margin: 0 0.7rem;
}
.profile .fa-solid:hover {
  cursor: pointer;
}
.profile .profile__info {
  color: #02010A;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.7rem;
}
.profile .profile__imageContainer {
  margin-top: 0.2rem;
  display: flex;
}
.profile .profile__imageContainer .profile__image {
  width: 15rem;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile .profile__imageContainer .profile__imageIcon {
  font-size: 3rem;
  margin: 0 1rem;
}
.profile .profile__imageContainer .profile__imageEdit {
  display: flex;
}
.profile .profile__title {
  margin: 1rem 0 0.2rem;
  color: rgb(73, 68, 68);
}
.profile .profile__changeInput {
  border: none;
  border-bottom: solid 2px black;
  resize: none;
  margin: 0.5rem 1rem;
  font-size: 1.5rem;
  background-color: rgba(255, 0, 0, 0);
  color: #02010A;
  width: 10rem;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
}
.profile .profile__changeInput:hover {
  cursor: url("../assets/pen.png") 0 60, auto;
}
.profile .profile__changeInput:focus {
  outline: none;
}
.profile .profile__buttonContainer {
  display: flex;
  flex-direction: column;
}
.profile .profile__buttonContainer .profile__button {
  border: solid 2px #02010A;
  border-radius: 2px;
  margin: 0.2rem;
  font-family: "Padauk", sans-serif;
  width: 4rem;
}
.profile .profile__buttonContainer .profile__button:hover {
  cursor: pointer;
}
.profile .profile__buttonContainer .profile__button--cancel {
  color: rgb(237, 79, 79);
}
.profile .profile__buttonContainer .profile__button--confirm {
  color: rgb(70, 168, 70);
}
.profile .profile__nameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile .profile__nameContainer .profile__nameContentContainer {
  display: flex;
}
.profile .profile__bioContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile .profile__bioContainer .profile__bioContentContainer {
  display: flex;
}
.profile .profile__bioContainer .profile__bioContentContainer .profile__info--bio {
  width: 15rem;
}
.profile .profile__bioContainer .profile__editBioContainer {
  display: flex;
  flex-direction: column;
}
.profile .profile__bioContainer .profile__editBioContainer .profile__changeInput--bio {
  width: 15rem;
  height: 5rem;
  text-align: left;
}
.profile .profile__bioContainer .profile__editBioContainer .profile__bioCharacterCount {
  align-self: flex-end;
}

.red {
  color: rgb(193, 38, 38);
}/*# sourceMappingURL=YourProfile.css.map */